<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="js-personal-projects">
    <template>
        <paper-card heading="jimsimon.net">
            <div class="card-content">
                details go here
            </div>
        </paper-card>
        <paper-card heading="Cryolysis 2 & 3">
            <div class="card-content">
                details go here
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is: "js-personal-projects"
        });
    </script>
</dom-module>